@import "../../../globals/hack-variables.scss";

.landing {
  width: 100%;
  height: 100%;
  color: white;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .landing__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: $background-light;
    padding: 5rem;
    z-index: 101;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    h1 {
      font-weight: 400;
      margin-bottom: 1rem;

      span {
        font-style: italic;
      }
    }

    p {
      font-weight: 400;
      margin-bottom: 2rem;
    }

    .landing__input_wrapper {
      display: flex;
      flex-direction: row;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .input-container {
        position: relative;
        margin-right: 78px;
      }
      .input-container label {
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 16px;
        color: #fff;
        pointer-event: none;
        transition: all 0.5s ease-in-out;
      }
      .input-container input {
        border: 0;
        border-bottom: 1px solid #555;
        background: transparent;
        width: 100%;
        padding: 8px 0 5px 0;
        font-size: 16px;
        color: #fff;
      }
      .input-container input:focus {
        border: none;
        outline: none;
        border-bottom: 1px solid #e74c3c;
      }

      .input-container input:focus ~ label,
      .input-container input:valid ~ label {
        top: -12px;
        font-size: 12px;
      }
    }
  }
}

.landing::before {
  /* border-radius: 83% 55% 43% 40% / 40% 70% 75% 76%; */
  background: #4CD9FF;
  content: "";
  width: 45vmax;
  height: 35vmax;
  position: absolute;
  /* background: rgba(255, 255, 255, 0.07); */
  left: 12vmin;
  top: 30vmin;
  animation: morph-smaller 15s linear infinite alternate;
  z-index: 100;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
  pointer-events: none;
}

.landing::after {
  /* border-radius: 83% 55% 43% 40% / 40% 70% 75% 76%; */
  background: #ff7668;
  content: "";
  width: 70vmax;
  height: 55vmax;
  position: absolute;
  /* background: rgba(255, 255, 255, 0.07); */
  left: -20vmin;
  top: -20vmin;
  animation: morph 10s linear infinite alternate;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
  pointer-events: none;
}

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;}
  100% {border-radius: 40% 60%;}
}

@keyframes morph-smaller {
  0% {border-radius: 63% 37% 44% 56% / 23% 53% 47% 77%; }
  100% {border-radius: 69% 31% 25% 75% / 71% 22% 78% 29% ;}
}