// HackUCI Styling variables

// Ember Style colors
$ember-blue: #2e3a4d;
$ember-purple: #41436A;
$ember-maroon: #984063;
$ember-red: #f64668;
$ember-orange: #fe9677;

// Normal Colors 
$black: #000000;
$white: #fefefe;
$dark-gray: #2e2e2e;

// Spacings
$large-spacing: 4rem;
$medium-spacing: 2rem;
$small-spacing: 1rem;
$tiny-spacing: 0.5rem;